{% extends 'base.html.twig' %}

{% block title %}ListeDesPays{% endblock %}

{% block body %}
    <h1>ListeDesPays</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ liste_des_pay.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ liste_des_pay.Nom }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ liste_des_pay.Code }}</td>
            </tr>
            <tr>
                <th>Num_vert</th>
                <td>{{ liste_des_pay.numVert }}</td>
            </tr>
        </tbody>
    </table>

    

    <a href="{{ path('liste_des_pays_edit', {'id': liste_des_pay.id}) }}">edit</a>

    {{ include('liste_des_pays/_delete_form.html.twig') }}
{% endblock %}
