{% extends 'base.html.twig' %}

{% block title %}Mon Ex et Moi{% endblock %}

{% block body %}


<div class="container-fluid container-fluid-desktop " >
<div class="row section-1 desktop">
<div class="  col-xl-5 offset-lg-1 col-lg-5 offset-md-1 col-md-5 col-sm-8 ">
<div class="logo-ctn">
<img src="{{asset('assets/img/logo.png')}}"  >

</div>
</div>

<div class="offset-xl-1 col-xl-5 col-lg-6  col-md-6 s-3 col-sm-10">

<div class="tel-ctn" >
 
<a id="n_vert" href="tel:{{numéro_vert}}"><p class="n_vert">{{numéro_vert}}</p></a>
<div class="desc-1">
<p>Numéro par pays</p>
<p>détection "IP"</p>
<p>Numéro</p>
<p>non-surtaxé</p>
</div>
</div>



<div class="ts">
<h2 >
testez un coaching<br> gratuit<br> et retrouvez votre ex<br> en seulement 15 jours
</h2>
</div>
</div>
</div>


<div class="row s-5 desktop ">

</div>

<div class="row s-4 desktop">
<div class="  col-xl-7   col-lg-7  col-md-6  s-4-1  ">
<img src="{{asset('assets/img/couple.png')}}" class="couple_img_1"   >
<img src="{{asset('assets/img/couple_2.png')}}" style="display:none;"  class="couple_img_2" >
<img src="{{asset('assets/img/couple_3.png')}}" style="display:none;"  class="couple_img_3" >
<img src="{{asset('assets/img/couple_4.png')}}" style="display:none;"  class="couple_img_4" >
<img src="{{asset('assets/img/steph.png')}}" class="hov"   >
<img src="{{asset('assets/img/steph_2.png')}}" class="hov_2" style="display:none;"  >
<img src="{{asset('assets/img/steph_3.png')}}" class="hov_3" style="display:none;"  >
<img src="{{asset('assets/img/steph_4.png')}}" class="hov_4" style="display:none;"  >
<p class="stph">Stéphane et sandrine <br><span class="stph_1">se sont retrouvés</span> <br><span class="stph_2" >en</span><span class="stph_4"> 10</span> <span class="stph_2" >jours<br></span> <span class="stph_1">aprés</span><br><span class="stph_5"> 3 </span><span class="stph_3"> ans de separation</span></p>
</div>
<div class="  col-xl-6 col-sm-6  col-lg-6  col-md-6      ">

</div>
</div>





<div class="row section-3 desktop">
<div class="  col-xl-7 col-lg-7  col-md-6 slt">

<h2 class="sol-tit">que des solutions!</h2>
<table class="table-t1">
  
  <tbody><tr>
    <td><img class="ici_1" src="{{asset('assets/img/icin-1.png')}} "> </td>
     <td ><h3 class="sol">1 <supp>er</supp> avis offert <span>par email</span></h3></td>
    
  </tr>
  <tr>
    <td><img class="ici_1" src="{{asset('assets/img/icin-2.png')}}" ></td>
    <td ><h3 class="sol">des conseils personnalisés<span> selon la problématique du couple</span></h3></td>
  </tr>
    <tr>
    <td><img class="ici_1" src="{{asset('assets/img/icin-3.png')}}" ></td>
    <td ><h3 class="sol"><span>des solutions faciles</span> à mettre en place et <span>  réalisables</span></h3></td>
  </tr>
  <tr>
    <td><img class="ici_1" src="{{asset('assets/img/icin-4.png')}}" ></td>
    <td><h3 class="sol">des résultats rapides <span>dés la 1  <supp>ere </supp> semaine</span></h3></td>
  </tr>
</tbody></table>
</div>
</div>
<div class="row section-4 desktop">
<div class=" col-xl-5 col-lg-5  col-md-5">
</div>
<div class=" col-xl-6  col-lg-6  col-md-6 ">
<h4 class="cdt_1">Conditions d'utilisation politique de confidentialité</h4>
</div>

</div>

</div>
<div class="container-fluid  container-fluid-mobile">
<div class="row mobile-section-1 mobile">
<div class=" col-6 col-sm-6">
<img src="{{asset('assets/img/logo_mobile.png')}}"  alt="logo mobile" class="logo-mobile" >
</div>
<div class=" offset-2 col-3 offset-1  offset-sm-2 col-sm-3
            offset-sm-1 btn-apl-section">

<div class="button-appel">
<div class="bnt-appl-ctn">
<i class="fa fa-phone"></i>
</div>
<div>
<h3> <a id="apl-11" href="tel:{{numéro_vert}}">appelez</a></h3>
</div>
</div>
</div>
</div>

<div class="row  mobile-section-2 mobile">
<div class="col-7 col-sm-7 head-t-1">
<h2 class="header-title">Retrouvez votre </h2> 
<h2 class="header-sub-title"><span>ex </span>  en <span>15 </span>jours</h2>
</div>
<div class="col-5  col-sm-5 fil-sect-2" >
</div>
</div>
<div class="row section-5" style="display:block">
<div class="  col-xl-6   col-lg-6  col-md-6   ">
</div>
<div class="    offset-xl-1 col-xl-5   col-lg-6 offset-md-2 col-md-8 offset-md-2 col-12 offset-sm-1 col-sm-10 offset-sm-1      ">
<div id="frm">
<form id="regForm" action="">

<h3 >obtenez votre <span >conseil <br>personnalisé gratuitement </span><br>dés maintenant</h3>

<!-- One "tab" for each step in the form: -->
<div class="tab tab1">
<p  class="et">Vous êtes :</p>
<div class="cpl-label">
  <p > 
  <input type="radio" class="radio-1" name="example" id="ex1" value="femme" checked oninput="this.className = ''" />
    <label for="femme" class="label-1"></label><span></span> 
    </p>
    <p><input type="radio" class="radio-2" name="example" id="ex2" value="homme" oninput="this.className = ''" />
    <label for="homme" class="label-2"></label>
    </p>
    </div>
    <div class="hf">
<div class="f">Une femme</div>
<div class="h" > Un homme</div>
</div>
</div>


<div class="tab tab2">
<p class="ques">Quel est votre prénom?</p>

  <input type="text" id="prénom" oninput="this.className = ''">
  
  <span class="prénom validate">Veuiller saisir votre prénom</span>

</div>

<div class="tab tab3">
  
<p class="ques">Quel âge avez-vous?</p>
  <p>

  <div class="example">			
				<input type="hidden" id="example4" oninput="this.className = ''">
          
			</div>
  </p>
  <p class="age">*Vous devez etre majeur pour obtenir les conseils de notre coach</p>


</div>

<div class="tab tab4">
<p class="ques3">Quel est le prénom de votre EX?</p>

 <input type="text" id="prénom_ex" oninput="this.className = ''">
  
  <span class="prénom_ex validate">Veuiller saisir le prénom de votre ex</span>



</div>
<div class="tab tab5">

 <p class="ques3">Depuis combien de temps êtes vous séparés?</p>
<p class="ques5">Indiquez le nombre / de jour(s) /semaine(s) / mois /année(s)</p>
  <input type="text" id="séparation" oninput="this.className = ''">
  <span class="séparation validate">Veuiller indiqué une durée de séparation valide</span>

</div>
<div class="tab tab6">
<p class="ques">Entrez votre Email</p>

  <input type="email" oninput="this.className = ''">
 
  <span class="email validate">Veuiller saisir votre email</span>

</div>

<div class="tab tab7">
<p class="ques">Entrez votre Numéro de téléphone</p>
<p class="ques4" > Veuillez saisir uniquement des chiffres</p>
  <input type="tel" id="phone" required>
  <div class="condi">
  <input type="checkbox" id="scales" name="scales"
         >

  <label  class="cond"> En validant ce formulaire,j'accepte de recevoir un conseil personnalisé<br>
  Et personnel par mail pour retrouver mon ex.<br> 
 (Conditions d'utilisation,protection de vos informations personnelles.)</label>
 </div>

</div>

<div>
  <div class="nextbtn  ">  
    <button type="button" id="nextBtn" onclick="nextPrev(1)">Question Suivante</button>
  </div>
</div>


<!-- Circles which indicates the steps of the form: -->
<div style="display:none;">
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
   <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
</div>

</form>
</div>
</div>
</div>









<div class="row  mobile-section-4 mobile">



</div>

<div class="row  mobile-section-5 mobile">
<div class="col-xs-12 col-sm-12">
<h3 class="coaching">testez un coaching<br> <span>gratuit</span><br> et retrouver <span>votre exe<br> en seulement 15 jours</span></h3>
</div>
<div class="offset-3 col-6 offset-sm-3  col-sm-6">
<img  class="couple-mobile" src="{{asset('assets/img/couple.png')}}">
</div>
</div>

<div class="row  mobile-section-6 mobile">
<div class="offset-1 col-10  offset-1 offset-sm-1 col-sm-10 offset-sm-1">
<p>Suivez nous sur <a href=""><img src="{{asset('assets/img/facebook.png')}}"></a> </p>
<p>Copyright © 2018 monexetmoi 
- Mentions légales et conditions générales - Cookies et Politique de confidentialité </p>
<p>Conditions  d’utilisation politique de confidentialité.</p>
</div>
</div>

</div>




{% endblock %}
 